@tailwind base;
@tailwind components;

@font-face {
  font-family: "Avenir";
  src: url("/fonts/AvenirLTStd-Book.otf");
}

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
html, body {
  height: 100%;
  min-height: 100vh;
  font-family: "Avenir";
  font-style: normal;
  font-weight: normal;
}

body {
  background: #404D5B;
  
}
.background1{
  background: #404D5B;
  height: -webkit-fill-available;
}
.banner{
  object-fit: cover;
  height: 694px;
}
.main_title{ 
  font-size: 28px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
.main_sub_title{
  position: absolute;
  width: 19%;
  height: 32px;
  left: 23%;
  top: 235px;  
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  text-align: center;  /* identical to box height, or 160% */
  letter-spacing: 0.12em;
  text-transform: uppercase;
}
.circle{
  position: absolute;
  height: 355px;
  left: 20.21%;
  right: 54.37%;
  top: 325px;
}
.chart{
  height: 6px;
  width: 50%;
  align-self: flex-start;
  margin: 20px;
  background-color: #FFFFFF;
  border-radius: 5px;
}
.gradient{
  border-radius: 5px;
  height: 6px;
  width: 68%;
  background: linear-gradient(43.45deg, #69F3B4 16.84%, #59ECBC 20.44%, #3DDFCB 28.21%, #29D6D6 35.99%, #1DD1DC 43.76%, #19CFDE 51.49%);
}
.percent{
    height: 124.5px;
    font-size: 8px;
    line-height: 137px;
    display: flex;
    align-items: center;
    text-align: right;
    letter-spacing: 0.2em;
}
.raised{
  position: absolute;
  width: 25%;
  height: 19.08px;
  left: 29.5%;
  top: 554.94px;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px; /* or 160% */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.12em;
  text-transform: uppercase;
}
.button{
  background: #333D48;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  height: 36px;
  margin: 2px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 26%;
}
.button:first-child() ,.button:last-child(){
  margin: 0;
}
.box{
  border-radius: 10px;
}
.nav_menu{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  width: 100%;
  height: 45px;
  left: 0px;
  top: 759px;
}
.box .box-bottom{
  /* padding: 12px 114px; */
  position: relative;
  box-shadow: 0px -10px 30px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 10px 10px;
}
.box-bottom span{
  font-weight: 800;
  font-size: 18px;
  line-height: 32px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #404D5B;
}
.box-text{
  height: 404px;   
  background: #333D48;
  margin-top: initial;
  border-radius: 10px 10px 0 0;
  padding: 20px;
}
.box-text li:nth-child(even){
  font-size: 36px;
  line-height: 58px;
}
.box-text li:nth-child(odd){
  font-weight: 500;
  font-size: 12px;
  line-height: 26px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
.title{
  height: 98px;
  width: 414px;
  left: 0px;
  top: 206px;

}
.subtitle{
  margin-top: 100px;
  font-size: 20px;
  line-height: 44px;
  text-align: center; /* identical to box height, or 157% */
  letter-spacing: 0.12em;
  text-transform: uppercase;
}
.subtitle_artist{
  margin-top: -24px;
  font-size: 20px;
  line-height: 44px;
  text-align: center; /* identical to box height, or 157% */
  letter-spacing: 0.12em;
  text-transform: uppercase;
}
.date{
  font-weight: 500;
  font-size: 10px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
.content_deal{ 
  width: 76%;
  left: 12%;
  position: relative;
}
.text_font_24{
  font-weight: 500;
  font-size: 16px;
  line-height: 36px;
  text-align: center;
  letter-spacing: 0.12em;
  text-transform: uppercase;
}
.text_font_22{
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0.02em;
}

.line_bottom_title{
  width: 11%;
  margin-left: 45%;
  margin-bottom: 5%;
  top: 1000px;
  border: 2px solid;
}
.line_bottom{
  border: 2px solid;
}
.museum{
  width: 80%;
  margin-left: 10%;
}
.deal_term{
  margin-top: 100px;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.12em;
  text-transform: uppercase;
}
.assets{
  height: 65px;
  left: 12%;
  top: 2919px;
  width: 100%;
}
.group{
  background-color: #333D48;
  padding: 20px 25px;
  border-radius: 5px;
  margin: 10px;
}
.group .g-parr{
  font-size: 10px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}
.number{
  font-size: 20px;
  text-transform: uppercase;
  margin-top: -32px;
}
.portfolio{
  position: absolute;
  width: 100%;
  height: 1523px;
  left: 0px;
  top: 2475px;
  background: #333D48;
  border-color: #333D48;
}
.table-back{
  margin-top: 100px;
  height: auto;
  left: 12%;
  top: 2919px;
  border: 4px solid #404D5B;
  box-sizing: border-box;
  border-radius: 10px;
}
.table-pdd{
  background: #2D353E;
  border-radius: 10px 10px 0px 0px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  font-size: 12px;
  padding: 15px;
}
.table-name{
  background: #404D5B;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  font-size: 12px;
  padding: 15px;
}
.table-content{
  font-weight: 500;
  font-size: 10px;
  line-height: 26px;
  display: flex;
  align-items: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  height: 65px;
}
.artist_list{
  font-weight: 900;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
.picture{
  width: 100%;
}

.artist h4{
  font-weight: 500;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
}
.p-blue{
  margin-left: 20%;
  width: 60%;
  font-size: 22px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.02e
}
.description{
  width: 76%;
  margin: auto; 
  -webkit-columns: 2 200px;
  -moz-columns: 2 200px;
  columns: 2 200px;
  -webkit-column-gap: 4em;
  -moz-column-gap: 4em;
  column-gap: 4em;
  }
.description_1{
  margin-top: 50px;
}
.description_2{
  margin-top: 20px;
}
.description p{
  /* font-size: 22px; */
  line-height: 32px;
  letter-spacing: 0.02em;
}
.image_caption{
  position: relative;
  width: 80%;
  height: 371px;
  left: 10%;
}
.line-bottom-blue{
  width: 7%;
  margin-top: 25px;
  margin-left: 46.5%;
  border: 1.5px solid;
}
.line-bottom-artist{
  margin-bottom: 26px;
  width: 14%;
  border: 1.5px solid #FFFFFF;
}
.market_{
  margin-left: 10%;
}
.arrow-read-more{
  /* background-image: url("/img/arrow.svg"); */
  position: relative;
  width: 100%;
  height: 10px;
  background-repeat: no-repeat;
  align-items: center;
}
.read-more{
  font-weight: 800;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.02em;
}
.text-read-more{
  background: linear-gradient(rgba(64, 77, 91, 0) 32.29%, #404D5B 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.blue-title{
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
}
.w-title{
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.market, .financial{
  padding: 20px;
}
.financial{
  margin-right: 7%;
}
.market{
  margin-right: 5%;
}
.market p{
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}

.data_room{
  margin-left: 10%;
  font-weight: 900;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
.downcloud{
  position: relative;
  width: 10%;
  height: 25px;
  background-repeat: no-repeat;
}

/* Carousel */

.box-slider{
  background-color: #2d353e;
  border-radius: 10px;
  width: 200px;
}
.art-picture{
  width: 134px;
  height: 122px;
  margin: auto;
}
.carousel-header{
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.12em;
  text-transform: uppercase;
}
.carousel-title{  
  color: #FFFFFF;
}
.carousel-subtitle{
  color: #19cfde;
}
.carousel-footer{
  font-size: 10px;
  font-weight: 500;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;  
  color: #FFFFFF;  
}
.gallery-thumbs{
  background-color:#333D48;
  border-radius: 10px;
  width: 367px !important;
  height: 169px !important;
  position: relative;
}
.gallery-thumbs .swiper-slide {
  width: 100%;
  height: 100%;
  /* opacity: 0.4; */
}
.box-slider-pic img{
  border-radius: 10px 0px 0px 10px;
  width: 80%;
  height: 169px;
  background-repeat: no-repeat;
  position: relative;
  object-fit: cover;
}
.text-slider{
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.btn-keep{
  font-weight: 500;
  font-size: 10px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #19CFDE;
  margin: 0px 10px;
  border-radius: 4px;
  height: 15px;
  border: 1px solid #19CFDE;
}
@tailwind utilities;